<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('根据sql语句生产')" />
    <script src="../../../static/js/common.js"></script>
    <script >includeResourse('header','根据sql语句生产')</script>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
            <div class="col-sm-12 search-collapse">
                <form class="form-horizontal " id="docToBavaBeanRQ">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">替换字符：</label>
                            <div class="col-sm-8">
                                <input name="replaceStr" class="form-control" type="text" placeholder="请输入替换字符" maxlength="50" value="header." >
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label"><span style="color: red; ">*</span>生成类型：</label>
                            <div class="col-sm-8">
                                <select class='form-control' id="genType"placeholder="生成类型"  name='genType' style="width: 100%">
                                    <option value="javabean" >javabean</option>
                                    <option value="layuitable" >layui-table</option>
                                    <option value="doc" >doc</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">doc：</label>
                            <div class="col-sm-10">
                                <textarea name="requestStr" wrap="off"  placeholder="a.bb AS field, /*注释测试*/"   class="form-control" style="height: 200px;"></textarea>
                            </div>
                        </div>
                    </div>
                    <a class="btn btn-primary btn-rounded btn-sm" onclick="docToJavabean()"><i class="fa fa-search"></i>&nbsp;生成</a>
                    <a class="btn btn-warning btn-rounded btn-sm" onclick="resetForm();"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">

            </div>
            <div class="wrapper wrapper-content animated fadeInRight ibox-content">
                <form class="form-horizontal " id="form-docToBavaBeanRS">
<!--                    <div class="form-group">
                        <label class="col-sm-1 control-label">负责人手机：</label>
                        <div class="col-sm-5">
                            <input name="phone" class="form-control" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">操作URL：</label>
                        <div class="col-sm-5">
                            <textarea name="provrequest" wrap="off" class="form-control"></textarea>
                        </div>
                    </div>-->
                    <div class="form-group">
                        <label class="col-sm-1 control-label" onclick="copyStr('remarkrq')">结果：</label>
                        <div class="col-sm-11">
                            <textarea name="remarkrq" id="remarkrq" wrap="off"   class="form-control" style="height: 333px;"></textarea>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script >includeResourse('footer')</script>
    <script >includeResourse('jsutils')</script>
    <script th:inline="javascript">
        var exampleStr = 
                    "        prt.TICKET_NO AS ticketNo,/* 电子票号 */\n" +
                    "        SUBSTR(bet.PJ_NO,5) as pjNo,/* 纸票号 */\n" +
                    "        bet.real_price as realPrice,/** 实际票价 */\n" +
                    "        prt.TP_MONERY as tpMonery,/** 退票金额 */\n" +
                    "        prt.TP_SXMONERY as tpSxmoney,/* 退票手续费 */\n" +
                    "        brr.SHORT_MESSAGE as shortMessage,/* 退票原因 */\n" +
                    "        prt.TP_USER as tpUser,/* 退票人ID */\n" +
                    "        prt.TP_USER_NAME as tpUserName,/* 退票人 */\n" +
                    "        prt.TP_ADDRESS as tpAddress,/* 退票窗口ID */\n" +
                    "        prt.TP_ADDRESS_NAME as tpAddressName,/* 退票窗口 */\n" +
                    "        DATE_FORMAT(prt.TP_TIME,'%Y-%m-%d %H:%i:%s') as tpTime,/* 退票时间 */\n" +
                    "        DATE_FORMAT(bet.flight_time,'%Y-%m-%d %H:%i:%s') as flightTime,/* 航班日期 */"

        $(function() {
            //$("textarea[name='requestStr']").attr("placeholder", exampleStr);
        });
        function copyStr(id) {
            try {
                $("#" + id).select();
                document.execCommand("copy");
                $.modal.msgSuccess("复制成功");
            } catch (e) {
                $.modal.alertError("复制失败！");
            }
        }

        function  resetForm() {
            $('form')[0].reset();
            $('form')[1].reset();

        }

        function docToJavabean() {
            if ($.validate.form()) {

                var data = $.common.formToJSON("docToBavaBeanRQ");
                if(isEmpty(data.requestStr)){
                    $("textarea[name='requestStr']").val(exampleStr)
                    data.requestStr = exampleStr;
                }
                console.log(data);
                $.modal.msgSuccess("成功");
                //正则表达式，得到sql字段名及注释
                var regStr = /.* as\s(\w*).*\/\*+(.*)\*+\//ig
                if(data.genType=="javabean"){
                    $("#remarkrq").val(data.requestStr.replace(regStr,"\t/**$2*/\n\tprivate String $1;"));
                }else if(data.genType=="layuitable"){
                    $("#remarkrq").val(data.requestStr.replace(regStr,"{field: '$1',title: '$2'},"));
                }else if(data.genType=="doc"){
                    $("#remarkrq").val(data.requestStr.replace(regStr,"$1\tString\t$2"));
                }
            }else {
                alert("失败")
            }
        }
    </script>
</body>
</html>